body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1090px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:0px;
  width:1080px;
  height:1719px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1719px;
}
#u1 {
  position:absolute;
  left:2px;
  top:852px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:1572px;
  width:155px;
  height:147px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:147px;
}
#u3 {
  position:absolute;
  left:2px;
  top:66px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:158px;
  top:1572px;
  width:309px;
  height:147px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:147px;
}
#u5 {
  position:absolute;
  left:2px;
  top:66px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:467px;
  top:1572px;
  width:308px;
  height:147px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:147px;
}
#u7 {
  position:absolute;
  left:2px;
  top:66px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:782px;
  top:1572px;
  width:308px;
  height:147px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:147px;
}
#u9 {
  position:absolute;
  left:2px;
  top:66px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:431px;
  top:1429px;
  width:370px;
  height:143px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:143px;
}
#u11 {
  position:absolute;
  left:2px;
  top:64px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:431px;
  top:1238px;
  width:370px;
  height:191px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:191px;
}
#u13 {
  position:absolute;
  left:2px;
  top:88px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:10px;
  top:0px;
  width:146px;
  height:144px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:144px;
}
#u15 {
  position:absolute;
  left:2px;
  top:64px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:10px;
  top:1572px;
  width:156px;
  height:147px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:147px;
}
#u17 {
  position:absolute;
  left:2px;
  top:66px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:166px;
  top:1572px;
  width:924px;
  height:147px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:147px;
}
#u19 {
  position:absolute;
  left:2px;
  top:66px;
  width:920px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:166px;
  top:1572px;
  width:924px;
  height:147px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:147px;
}
#u21 {
  position:absolute;
  left:2px;
  top:66px;
  width:920px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:10px;
  top:418px;
  width:1080px;
  height:965px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:965px;
}
#u23 {
  position:absolute;
  left:2px;
  top:474px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
