body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:929px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:300px;
  top:0px;
  width:629px;
  height:1002px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:629px;
  height:1002px;
}
#u1 {
  position:absolute;
  left:2px;
  top:493px;
  width:625px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:300px;
  top:916px;
  width:91px;
  height:86px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:86px;
}
#u3 {
  position:absolute;
  left:2px;
  top:35px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:387px;
  top:916px;
  width:180px;
  height:86px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:86px;
}
#u5 {
  position:absolute;
  left:2px;
  top:35px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:566px;
  top:916px;
  width:179px;
  height:86px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:86px;
}
#u7 {
  position:absolute;
  left:2px;
  top:35px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:750px;
  top:916px;
  width:179px;
  height:86px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:86px;
}
#u9 {
  position:absolute;
  left:2px;
  top:35px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:545px;
  top:833px;
  width:216px;
  height:83px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:83px;
}
#u11 {
  position:absolute;
  left:2px;
  top:34px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:545px;
  top:721px;
  width:216px;
  height:112px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:112px;
}
#u13 {
  position:absolute;
  left:2px;
  top:48px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:300px;
  top:0px;
  width:85px;
  height:84px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:84px;
}
#u15 {
  position:absolute;
  left:2px;
  top:34px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:300px;
  top:916px;
  width:91px;
  height:86px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:86px;
}
#u17 {
  position:absolute;
  left:2px;
  top:35px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:391px;
  top:916px;
  width:538px;
  height:86px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:86px;
}
#u19 {
  position:absolute;
  left:2px;
  top:35px;
  width:534px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:391px;
  top:916px;
  width:538px;
  height:86px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:86px;
}
#u21 {
  position:absolute;
  left:2px;
  top:35px;
  width:534px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:300px;
  top:243px;
  width:629px;
  height:563px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:629px;
  height:563px;
}
#u23 {
  position:absolute;
  left:2px;
  top:274px;
  width:625px;
  visibility:hidden;
  word-wrap:break-word;
}
