body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:678px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:300px;
  top:0px;
  width:378px;
  height:600px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:600px;
}
#u1 {
  position:absolute;
  left:2px;
  top:292px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:300px;
  top:548px;
  width:55px;
  height:52px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:52px;
}
#u3 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:353px;
  top:548px;
  width:108px;
  height:52px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:52px;
}
#u5 {
  position:absolute;
  left:2px;
  top:18px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:460px;
  top:548px;
  width:107px;
  height:52px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:52px;
}
#u7 {
  position:absolute;
  left:2px;
  top:18px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:571px;
  top:548px;
  width:107px;
  height:52px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:52px;
}
#u9 {
  position:absolute;
  left:2px;
  top:18px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:447px;
  top:499px;
  width:130px;
  height:50px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:447px;
  top:432px;
  width:130px;
  height:68px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:68px;
}
#u13 {
  position:absolute;
  left:2px;
  top:26px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:300px;
  top:0px;
  width:51px;
  height:50px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:300px;
  top:548px;
  width:55px;
  height:52px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:52px;
}
#u17 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:355px;
  top:548px;
  width:323px;
  height:52px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:52px;
}
#u19 {
  position:absolute;
  left:2px;
  top:18px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:355px;
  top:548px;
  width:323px;
  height:52px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:52px;
}
#u21 {
  position:absolute;
  left:2px;
  top:18px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:300px;
  top:145px;
  width:378px;
  height:337px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:337px;
}
#u23 {
  position:absolute;
  left:2px;
  top:160px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
