body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:678px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:300px;
  top:0px;
  width:378px;
  height:600px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:600px;
}
#u1 {
  position:absolute;
  left:2px;
  top:292px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:300px;
  top:50px;
  width:378px;
  height:68px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:68px;
}
#u3 {
  position:absolute;
  left:2px;
  top:26px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
