body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:929px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:300px;
  top:982px;
  width:629px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:629px;
  height:17px;
}
#u1 {
  position:absolute;
  left:2px;
  top:0px;
  width:625px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:300px;
  top:0px;
  width:85px;
  height:84px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:84px;
}
#u3 {
  position:absolute;
  left:2px;
  top:34px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:384px;
  top:0px;
  width:544px;
  height:84px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:84px;
}
#u5 {
  position:absolute;
  left:2px;
  top:34px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:397px;
  top:90px;
  width:434px;
  height:122px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:122px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:33px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7 {
  position:absolute;
  left:422px;
  top:226px;
  width:384px;
  height:325px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:325px;
}
#u8 {
  position:absolute;
  left:2px;
  top:154px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:563px;
  top:570px;
  width:116px;
  height:50px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:27px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:416px;
  top:686px;
  width:384px;
  height:134px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:134px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:27px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u11 {
  position:absolute;
  left:417px;
  top:570px;
  width:133px;
  height:43px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:33px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:43px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:416px;
  top:635px;
  width:133px;
  height:43px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:33px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:43px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:519px;
  top:889px;
  width:151px;
  height:52px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:33px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u16 {
  position:absolute;
  left:419px;
  top:830px;
  width:379px;
  height:37px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:27px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:37px;
}
#u17 {
  position:absolute;
  left:2px;
  top:1px;
  width:375px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:450px;
  top:950px;
  width:298px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:27px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:35px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:685px;
  top:567px;
  width:128px;
  height:55px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:55px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:27px;
  text-decoration:none;
  color:#000000;
}
#u20_input:disabled {
  color:grayText;
}
