body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:678px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:300px;
  top:577px;
  width:378px;
  height:23px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:23px;
}
#u1 {
  position:absolute;
  left:2px;
  top:4px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:300px;
  top:0px;
  width:51px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:351px;
  top:0px;
  width:327px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:323px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:313px;
  top:76px;
  width:81px;
  height:63px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:63px;
}
#u7 {
  position:absolute;
  left:2px;
  top:24px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:313px;
  top:154px;
  width:363px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:52px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:401px;
  top:76px;
  width:228px;
  height:73px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:27px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:73px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:313px;
  top:249px;
  width:81px;
  height:63px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:63px;
}
#u13 {
  position:absolute;
  left:2px;
  top:24px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:313px;
  top:326px;
  width:363px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:52px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:399px;
  top:249px;
  width:228px;
  height:73px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:27px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:73px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:313px;
  top:429px;
  width:81px;
  height:63px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:63px;
}
#u19 {
  position:absolute;
  left:2px;
  top:24px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:313px;
  top:506px;
  width:363px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:52px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:399px;
  top:429px;
  width:228px;
  height:73px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:27px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:73px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:313px;
  top:600px;
  width:81px;
  height:63px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:63px;
}
#u25 {
  position:absolute;
  left:2px;
  top:24px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:313px;
  top:677px;
  width:363px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:52px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:399px;
  top:600px;
  width:228px;
  height:73px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:27px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:73px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
